.nav-bar{
  display: grid;
  height: 60px;
  background-color: #141921;
  margin: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-areas: "section1 section2 section3 section4 section4 section4 section5 section6";
  gap: 10px;
}

.section {
  padding: 10px;
}

.section1 { grid-area: section1; }
.section2 { grid-area: section2; }
.section3 { grid-area: section3; }
.section4 { grid-area: section4; }
.section5 { grid-area: section5; }
.section6 { grid-area: section6; }

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-logo {
  height: 45px;
}

/* .nav-logo:hover {
  box-sizing: border-box;
  border: 1px solid white;
  transform: none;
} */

.geo-loc-icon {
  height: 30px;
}


.category-bar {
  height: 40px;
  background-color: #262f3e;
}

.cart-icon {
  height: 50px;
  width: 50px;
}

.fa-caret-down {
  color: #a8acb2
}

.section3:hover,
.section6:hover {
  cursor: pointer;
}
