.profile-button {
    background-color: transparent;
    border: none;
}

.profile-button:hover {
    cursor: pointer;
}

.logout-button {
    background-color: transparent;
    border: none;
}

.logout-button:hover {
    cursor: pointer;
}

.profile-dropdown {
    display: grid;
    border-radius: 5px;
    border: 1px solid #efefef;
    justify-items: start;
    background-color: #ffffff;
    color: black;
}

.store-button {
    background-color: transparent;
    border: none;
}

.store-button:hover {
    cursor: pointer;
}

.drop-down-header {
    font-size: 12px;
    padding: 5px;
}
