.create-button {
    background: -webkit-linear-gradient(top, #f4dc9a, #eec962);
    border-color: #767676;
    height: 30px;
    border-radius: 3px;
    border-width: 1px;
    width: 305px;
}

.input {
    width: 300px;
}

.form-content {
    padding-bottom: 30px;
}

.form {
    padding-bottom: 50px
}
