.product-page {
    display: grid;
    justify-content: center;
}

.main-container {
    display: grid;
    justify-content: center;
    grid-template-areas: "side-img main-img details cart";
    width: 1000px;
    margin: 20px;
}

.side-img-container { grid-area: side-img; }
.main-img-container { grid-area: main-img; }
.product-info-container { grid-area: details; }
.cart-container { grid-area: cart; }

.side-img-container {
    display: grid;
    align-self: start;
    margin-top: 20px;
}

.small-img {
    margin: 2px;
    border: 1px solid black;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    object-fit: contain;
}

.small-img:hover {
    cursor: pointer;
}

.main-img-container {
    width: 300px;
    height: 300px;
}

.main-img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.main-img:hover {
    cursor: pointer;
}

.product-info-container {
    width: 50%;
}

.product-detail-description,
.product-detail-name {
    width: 370px;
}

.deets-in-stock {
    color: #067805;
    font-size: 20px;
}

.deets-cart-btn {
    margin-top: 10px;
}

.cart-container {
    margin-top: 20px;
}
