.body {
    display: grid;
    justify-content: center;
    background-color: #e4e6e6;
    height: 100vh
}

.img-ad-container {
    height: 200px;
}

.slider {
    display: grid;
    justify-content: center;
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

.ad-container {
    display: grid;
    position: relative;
    justify-content: center;
    height: 200px;
    bottom: 90%;
    grid-template-areas:
        "container-0 container-1 container-2 container-3"
        "container-0 container-1 container-2 container-4";
    gap: 15px;
    margin-bottom: 50px;
}

.ad-box {
    display: grid;
    justify-content: center;
    align-content: start;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    background-color: white;

}

@media (max-width: 1366px) {
    .ad-box {
      width: 200px;
    }
}

@media (max-width: 992px) {
    .ad-box {
      width: 150px;
    }
}

@media (min-width: 1367px) {
    .ad-box {
      width: 300px;
    }
}

.ad-box-img-0,
.ad-box-img-1,
.ad-box-img-2 {
    display: block;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    width: auto;
    object-fit: contain;
}

.ad-box-img-3,
.ad-box-img-4 {
    display: block;
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    width: auto;
    object-fit: contain;
}

.ad-box-img-0:hover,
.ad-box-img-1:hover,
.ad-box-img-2:hover,
.ad-box-img-3:hover,
.ad-box-img-4:hover {
    cursor: pointer;
}

.in-stock {
    color: #017601;
}

.no-stock {
    color: #c25636;
}

.container-0 { grid-area: container-0; }
.container-1 { grid-area: container-1; }
.container-2 { grid-area: container-2; }
.container-3 { grid-area: container-3; }
.container-4 { grid-area: container-4; }

.product-name {
    margin: 0;
}

.stock {
    margin: 0;
}
